@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
html{
    color: #ffffff;
}
body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
    background-color:#970d0dc5;
}

input[type=text],input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

}

input[type=password],input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

}

input[type=email],input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

}

.saveButton {
    background-color: #970d0ddd;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 3.5em;
    text-align: center;
    text-decoration: none;
    opacity: 0.75;
	margin: 8px 0;
	position: absolute;
}

select {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: transparent;;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
	line-height: 1.65;
	color: white;
}


nav{
    font-family: "Pacifico", cursive;
    font-size:22pt;
    text-align: center;
}

::placeholder{

	font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 300;
	line-height: 1.65;
	color: #ffffff;
}

.input-field label{

	color: white
}

[type="radio"]:checked+label:after {
    border-radius: 50%;
    border: 2px solid yellow;
    background-color: yellow;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}


[type="radio"]:not(:checked)+label:after {
    border-radius: 50%;
    border: 2px solid black;
    z-index: -1;
    transform: scale(0);

#search{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

#view{
    font-size: 50px;
    background-color:#970d0ddd;
}
#done{
    background-color: #00e676;
}

#filterdiv{
    padding: 3em 0 2em 0;
}
#searchdiv{
    padding: 8em 0 6em 0;
}

#drop-down-div{
    height: 100px;
}

.card{
    color: #970d0dc5;
}


/* Footer */
	#footer {
		padding: 6em 0 4em 0;
		background: #970d0dc5;
		text-align: center;
		color: #ffffff;
	}

	#footer a {
		color: #ffffff;
		text-decoration: none;
	}

	#footer ul li {
		padding: 0 2em;
	}

	.icon::before{
		font-size:22pt;
		color: #25a2c3;
		content: " | ";
	}
	.icon::after{
		font-size:22pt;
		color: #25a2c3;
		content: " | ";
	}
